<!DOCTYPE html>

<html>
	<head>
		<meta content="text/html;charset=utf-8" http-equiv="Content-Type" />
		<script type="text/javascript" src="js/controllers/AddVisualizationSetController.js"></script>
	</head>
	<body>
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		    <h4 class="modal-title" id="dssModalLabel">Add Visualization Set</h4>
		</div>
		      
		<div class="modal-body">
			<form id = "vizSetAddForm">
				
				<div class = "form-group">
					<label for="set_name">Set Name</label>
					<input type = "text" class = "form-control" id="set_name" name = "set_name" value="Default Set" />
				</div>
				
				<div class = "form-group">
					<label for="start_date">Start Date</label>
					<input type = "text" class = "form-control" id="start_date" name = "start_date" />
				</div>
				
				<div class = "form-group">
					<label for="end_date">End Date</label>
					<input type = "text" class = "form-control" id="end_date" name = "end_date" />
				</div>
				
				<div class = "form-group">
					<label for="event_name">Event Name</label>
					<input type = "text" class = "form-control" id="event_name" name = "event_name" />
				</div>
				
				<div class = "form-group">
					<label for="tech_name">Technician Name</label>
					<input type = "text" class = "form-control" id="tech_name" name = "tech_name" />
				</div>
				
			</form>
			
		</div>
		
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
		    <button type="button" class="btn btn-primary" id = "submitButton">Submit</button>
		</div>
	</body>	
</html>