<html>
	<body>
		<div class ="panel panel-primary set-target">
			<div class="panel-heading clearfix">
				<h3 class="panel-title pull-left set-title" style="padding-top: 7.5px;">DefaultSet</h3>
				<div class="btn-group pull-right">
        			<a href="#" class="btn btn-default btn-sm add-target">Add</a>
        			<a href="#" class="btn btn-default btn-sm edit-target">Edit</a>
        			<a href="#" class="btn btn-default btn-sm delete-target">Delete</a>
        			<a href="#" class="btn btn-default btn-sm collapse-target" data-toggle="collapse">Show/Hide</a>
        		</div>
			</div>
			<div class="panel-body collapse in set-body-target">
				Please click add to add visualizations.
			</div>
		</div>
	</body>
</html>